* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, arial, helvetica;
}

body {
    background-color: #2e9afe;
    overflow-y: hidden;
}

div#container {
    width: 100%;
    height: 100%;
    position: fixed;
}

div#header {
    background: none repeat scroll 0 0 rgba(50, 58, 69, 0.95);
    width: 100%;
    height: 80px;
}

div#logo {
    width: 40%;
    float: left;
    color: #fff;
    margin-top: 20px;
    padding: 0px 0px 0px 30px;
}

div#menu {
    float: right;
    height: 80px;
    width: 56%;
    font-weight: bold;
    font-size: 1vw;
}

div#content {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

ul#navi {
    float: right;
    list-style-type: none;
    cursor: pointer;
    color: #fff;
}

ul#navi li {
    display: inline-block;
    line-height: 80px;
}

ul#navi li a {
    display: block;
    padding: 0px 15px;
    height: 80px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: #fff;
}

ul#navi li a:hover, ul#navi li a:focus {
    color: #2e9afe;
}

@media (max-device-width: 700px), (max-width: 700px) {
    div#menu {
        height: initial;
        width: 50%;
        font-size: initial;
    }

    ul#navi {
        float: none;
    }

    ul#navi::before {
        padding: 0px 15px;
        content: 'Menü';
        line-height: 80px;
    }

    ul#navi li {
        display: none;
        background-color: rgb(50, 58, 69);
    }

    ul#navi:hover li {
        display: block;
    }
}

div.page {
    min-height: 730px;
    width: 1024px;
    margin: auto;
    text-align: center;
    position: relative;
}

@media (max-width: 1024px) {
    div.page {
        width: inherit;
    }
}

div.page.last{
    margin-bottom: 150px;
}

div.page ul {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    padding-left: 30px;
    list-style-type: none;
    cursor: pointer;
}

div.page ul li a {
    color: #000;
}

div.page ul li:before
{
    content: '✔';   
    margin-left: -1em; 
    margin-right: .100em;
}

div.page ul li:hover
{
    color: #00ff00;
}

div.invis {
    position: fixed;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius: 20px;
    top: 150px;
    left: 18%;
    padding: 3%;
    display: none;
}

div.invis p {
    height: 70%;
    margin: 10px!important;
    overflow-y: auto;
}

div.invis:target {
    display: block!important;
    -webkit-animation: fade-in 1s;
    animation: fade-in 1s;
}

a.close {
    position: fixed;
    right: -13%;
    top: 120px;
}

img {
    padding: 30px 0px 10px 0px;
}

p {
    text-align: left;
    padding: 20px 0px 50px 0px;
    margin: 50px;
    font-size: 20px;
    line-height: 40px;
}

p.process {
    padding-bottom: 10px!important;
    margin-bottom: 10px!important;
}

i {
    font-size: 20px;
}

h2 {
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

iframe {
    height: 360px;
    width: 640px;
    margin: 20px 16% 0px;
}

h1 {
    font-size: 2vw;
}

.arrow-down {
    display: block;
    height: 40px;
    margin: 3em auto 0;
    width: 40px;
    position: absolute;
    left: 49%;
    bottom: 0px;
    outline: none;
}

.arrow-down svg line {
    stroke: #323a45;
    stroke-width: 2px;
}

.arrow-down svg circle {
    fill: #fff;
    stroke: #323a45;
    stroke-width: 2px;

    stroke-dasharray: 500;
    stroke-dashoffset: 500;
}

.arrow-down svg circle:hover, .arrow-down svg circle:focus {
    animation: 2s ease-in-out 0s alternate forwards 1 circle-full;
    -webkit-animation: 2s ease-in-out 0s alternate forwards 1 circle-full;
}

a[ id= "team" ]:target ~ #content div.page {
    -webkit-transform: translateY( -700px);
    transform: translateY( -700px );
}

@keyframes circle-full {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes circle-none {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 500;
    }
}

@-webkit-keyframes circle-full {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes circle-none {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 60%;
    }
}
